@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0 120px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1200px) {
  /* navBar */

   .containerNavBar {
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #191919;
    background-color: #ffc017;
  }

  .navBar {
    margin: 0 120px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
 

  .navList .list1 {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .navList .list1 li {
    margin: 0 10px;
    cursor: pointer;
  }

  .navBar .navLogo {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .navButton {
    color: #ebebeb;
    background-color: #191919;
    padding: 8px 15px;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
  }

  /* header */

  .containerHeader {
    height: 350px;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    display: flex;
    justify-content: space-between;
  }

  .header {
    margin: 0 120px;
  }

  .title {
    flex-direction: column;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 80px;
    display: flex;
    align-items: flex-start;
    padding: 60px 0 20px 0;
  }
  .subtitle {
    font-size: 18px;
    margin-right: 200px;
  }

  .containerHeaderButton {
    padding: 40px 0 0 0;
  }

  .headerButton {
    color: #ebebeb;
    background-color: #191919;
    border: 0px;
    border-radius: 50px;
    padding: 8px 45px;
    cursor: pointer;
  }

  .aLotOfMs {
    display: flex;
    align-items: flex-end;
   
  }

  /* trending */

.trendingComments{
  display: flex;
}

  .trending {
    margin: 0 120px;
  }

  .containerTrending {
    border-bottom: 2px solid #efefef;
  }

.containerTrendingTitle{
  margin: 40px 0 2px 0;
}

.trendingIcon{
  width: 25px;
  margin-right: 8px;
}

  .titleTrending {
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.trendingNumbers{
  font-size: 28px;
  font-weight: bold;
  color: #d8d8d8;
  display: flex;
  flex-direction: column;
}

.trendingNoNumber{
  margin-left: 20px;
  margin-right: 20px;
}

.userInfos{
width: 30px;
border-radius: 50%;
margin-right: 8px;
}

.trendingUsers{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.trendingComments{
  width: 40%;
}

.trendingText{
  font-weight: bold;
  margin: 10px 0;
}
.trendingDataAndMin{
  font-size: 11px;
}

.trendingFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star{
  margin: 0 5px;
}

.trendingFirstRow{
  display: flex;
  flex-direction: row; 
  justify-items: space-between;
  padding: 5px 20px 10px 0;
} 

.trendingSecondRow{
  display: flex;
  flex-direction: row; 
  justify-items: space-between;
  padding: 15px 20px 10px 0;
} 

/* aside */
.mainPage{
  display: flex;
  flex-direction: column;
}
.articles{
  display: flex;
  justify-content: start;
  flex-direction: column;
  
}

.more >p, .more > .moreButtons, .more > .moreFooter{
  display: flex;
  justify-content: end;
}

.more > .moreButtons{
  display: flex;
  flex-wrap: wrap;
}

}



 /* position: fixed;
    top: 80px;
    left: 200px;
    background: blue; */