body{
  background-color: rgb(20, 20, 20);
}

.main{
  padding-left: 2.5rem;
}

.main2{
  margin-top: 5rem;
}
.h1_profile{
  font-size: 50px;
}
.navbar {
  background-color: rgb(20, 20, 20);
}

.navbar2{
  background-image: linear-gradient( rgb(0, 0, 0),rgb(20, 20, 20));
}
.tv_shows{
  font-size: 35px;
}

.tv_shows_img{
  font-size: 25px;
}

.footer{
  margin: 10rem 20rem 0rem 20rem;
 
}

.maturity_button{
  background-color: rgb(57, 57, 57);
}

.colors_text_profile{
  color: #b8b7b7;
}