/* IMPOSTAZIONI GENERALI */

body {
  background-image: url(../img/sfondo.png);
  margin: 20px;
}
/* HEADER */




#header {
        
  background: linear-gradient(#00a0c6, #036d86);
  box-shadow: #000000;
}

header {
  text-align: center;
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */


/* FORM */

#video{
  height: 200px;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */




main {
  margin-top: 20px;
}




#list1 {
  list-style-type: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
  text-align: center;
}


table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #000000;
  padding: 8px;
}

#video {
  border-radius: 10px;
}

.prova{
  background-color: blue;
  font-size: 32px;
}

.sfondo-bianco{
  background-color: white;
}